<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/Log/${shortdate}"/>

  <targets>
    <target name="Info" xsi:type="File" fileName="${logDirectory}/Info.txt" layout="[${longdate}] [${callsite}] [${message}]" archiveAboveSize="5000000" Encoding="utf-8"/>
    <target name="Trace" xsi:type="File" fileName="${logDirectory}/Trace.txt" layout="[${longdate}] [${callsite}] [${message}]" archiveAboveSize="5000000" Encoding="utf-8"/>
    <target name="Debug" xsi:type="File" fileName="${logDirectory}/Debug.txt" layout="[${longdate}] [${callsite}] [${message}]" archiveAboveSize="5000000" Encoding="utf-8"/>
    <target name="Error" xsi:type="File" fileName="${logDirectory}/Error.txt" layout="[${longdate}] [${callsite}] [${message}]" archiveAboveSize="5000000" Encoding="utf-8"/>
    <target name="Fatal" xsi:type="File" fileName="${logDirectory}/Fatal.txt" layout="[${longdate}] [${callsite}] [${message}]}" archiveAboveSize="5000000" Encoding="utf-8"/>
    <target name="Warn" xsi:type="File" fileName="${logDirectory}/Warn.txt" layout="[${longdate}] [${callsite}] [${message}]" archiveAboveSize="5000000" Encoding="utf-8"/>
    <!--<target name="LogCustom" xsi:type="File" layout="${message}"
          fileName="${logDirectory}\${event-context:DirOrPrefix}${date:format=yyyyMMddHH}${event-context:Suffix}.txt" archiveAboveSize="5000000" Encoding="utf-8"/>-->
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="Info"/>
    <logger name="*" level="Trace" writeTo="Trace"/>
    <logger name="*" level="Debug" writeTo="Debug"/>
    <logger name="*" level="Error" writeTo="Error"/>
    <logger name="*" level="Fatal" writeTo="Fatal"/>
    <logger name="*" level="Warn" writeTo="Warn" />
  </rules>
</nlog>